doctype.html
html
    head
      meta(charset='utf-8')
    body
      form(action='/info')
        p
          input(type='text' name= 'ID' placeholder='ID를 입력하세요.')
          input(type='text' name= 'PW' placeholder='PW를 입력하세요.')
        p
          input(type='reset' value='clear')
          input(type='submit' value='login')
          
