doctype Html
Html
  head
    meta(charset='utf-8')
    //주석 처리 이것은 보인다.
    //- 주석 처리 이것은 안ㅂ노임
  body
    ol
      li 안녕
      li Tea
      li Milk
      
    ul
      li 커피
      li Tea
      li Milk
